server:
  port:
    80

spring:
  application:
    name: consul-consumer-order

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name:
          ${spring.application.name}
      management:
        endpoint:
          health:
            show-details: always